{% extends 'base.html.twig' %}

{% block title %}Appointment index{% endblock %}

{% block body %}
    <h1>Appointment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Time</th>
                <th>Date</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.firstname }}</td>
                <td>{{ appointment.lastname }}</td>
                <td>{{ appointment.email }}</td>
                <td>{{ appointment.phone }}</td>
                <td>{{ appointment.time ? appointment.time|date('H:i:s') : '' }}</td>
                <td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
                <td>{{ appointment.message }}</td>
                <td>
                    <a href="{{ path('appointment_show', {'id': appointment.id}) }}">show</a>
                    <a href="{{ path('appointment_edit', {'id': appointment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('appointment_new') }}">Create new</a>
{% endblock %}
