<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {# pour afficher le message de confirmation relié a appointment controller#}
    {% if app.flashes %}
    <div class="container">
        {% for message in app.flashes %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="header-top">
        <div class="container">
        {{ render(controller('App\\Controller\\DefaultController::headerSocialNetworks')) }}
            <div class="contact-infos">
                <ul>
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="tel:0243785462">0243785462</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:contact@salutem.fr">contact@salutem.fr</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="logo">
                <i class="fa fa-heartbeat"></i>
                Salutem
            </div>
            <div class="status">
                Votre centre est actuellement <span class="open">ouvert</span>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <ul>
                <li><a href=" {{ path('homepage') }}">Accueil</a></li>
                <li><a href="#">La maison médicale</a></li>
                <li><a href="{{ path('doctor_index') }}">Nos docteurs</a></li>
                <li><a href="#">Nous contacter</a></li>
            </ul>
        </div>
    </div>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer class="main-footer">
    <section class="container">
        <article>
            <div class="logo">
                <i class="fa fa-heartbeat"></i>
                Salutem
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus debitis, dolorem doloremque iste molestiae nulla officiis provident quas quos, rerum sapiente sed sint voluptas? Accusantium asperiores dolor dolores in libero?</p>
        </article>
        <article>
            <h3>Nous contacter</h3>
            <ul class="contact-infos">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:contact@salutem.fr">contact@salutem.fr</a>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <a href="tel:0243785462">0243785462</a>
                </li>
                <li>
                    <i class="fa fa-ambulance"></i>
                    <a href="tel:0243785443">0243785443</a>
                </li>
            </ul>
        </article>
        <article>
            <h3>Horaires d'ouverture</h3>
            <table class="opening-hours">
                <tr>
                    <td>Lundi</td>
                    <td class="hours">9h - 17h</td>
                </tr>
                <tr class="today">
                    <td>Mardi</td>
                    <td class="hours">9h - 17h</td>
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td class="hours">9h - 17h</td>
                </tr>
                <tr>
                    <td>Jeudi</td>
                    <td class="hours">9h - 17h</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td class="hours">9h - 17h</td>
                </tr>
                <tr>
                    <td>Samedi</td>
                    <td class="hours">9h - 12h</td>
                </tr>
                <tr>
                    <td>Dimanche</td>
                    <td class="hours">Fermé</td>
                </tr>
            </table>
        </article>
    </section>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
